.percentile {
  font-weight: 700;
}

.percentile-90 {
  color: rgb(255, 128, 0);
}

.percentile-80 {
  color: rgb(163, 53, 238);
}

.percentile-50 {
  color: rgb(0, 112, 255);
}

.percentile-25 {
  color: rgb(19, 157, 0);
}

.percentile-0 {
  font-weight: 100;
}